####
/centOS/vagrant-centos-box/.vagrant
/centOS/vagrant-centos-box/*-console.log

####
/centOS/vagrant-centos7-shell-k8s/.vagrant
/centOS/vagrant-centos7-shell-k8s/*-console.log

####
/centOS/vagrant-centos8-shell-k8s/.vagrant
/centOS/vagrant-centos8-shell-k8s/*-console.log

############################################################
####
/ubuntu/vagrant-ansible-docker-bionic64/.vagrant
/ubuntu/vagrant-ansible-docker-bionic64/*-console.log

####
/ubuntu/vagrant-ansible-jenkins-xenial64/.vagrant
/ubuntu/vagrant-ansible-jenkins-xenial64/*-console.log

####
/ubuntu/vagrant-ansible-k8s-xenial64/.vagrant
/ubuntu/vagrant-ansible-k8s-xenial64/*-console.log

####
/ubuntu/vagrant-ansible-xenial64/.vagrant
/ubuntu/vagrant-ansible-xenial64/*-console.log

####
/ubuntu/vagrant-javaapp-xenial64/.vagrant
/ubuntu/vagrant-javaapp-xenial64/*-console.log

####
/ubuntu/vagrant-ubuntu-apache/.vagrant
/ubuntu/vagrant-ubuntu-apache/*-console.log

####
/ubuntu/vagrant-ubuntu-box/.vagrant
/ubuntu/vagrant-ubuntu-box/*-console.log

####
/ubuntu/vagrant-ubuntu-box-v1/.vagrant
/ubuntu/vagrant-ubuntu-box-v1/*-console.log

####
/ubuntu/vagrant-ubuntu-httpd/.vagrant
/ubuntu/vagrant-ubuntu-httpd/*-console.log