####
/vagrant-ansible/.vagrant
/vagrant-ansible/*-console.log

####
/vagrant-ubuntu-box/.vagrant
/vagrant-ubuntu-box/*-console.log

####
/vagrant-ubuntu-box-v1/.vagrant
/vagrant-ubuntu-box-v1/*-console.log

####
/vagrant-javaapp-box/.vagrant
/vagrant-javaapp-box/*-console.log

####
/vagrant-centos-box/.vagrant
/vagrant-centos-box/*-console.log

####
/vagrant-ubuntu-apache/.vagrant
/vagrant-ubuntu-apache/*-console.log

####
/vagrant-ubuntu-httpd/.vagrant
/vagrant-ubuntu-httpd/*-console.log

####
/vagrant-ansible-docker/.vagrant
/vagrant-ansible-docker/*-console.log
